<h1>Hi <%= @user.first_name %></h1>

<p><% @oscar_selections.each do |selection| %></p>
  <li>Best picture: <%= selection.best_picture %></li>
  <li>Best actor: <%= selection.best_actor %></li>
<% end %>