<div class="row">
  <div class="small-12 small-left medium-6 columns">
    <h1>New Oscar Picks</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= render 'form' %>
  </div>
</div>
